//-Menu social icon
mixin social(mod)
	//MENU SOCIAL ICONS
	ul(class="social" + mod)
		each val, index in socials
			li.social__item
				a.social__link(href=val class="social__link--" + index target="_blank") #{index}

//- Menu navigation
mixin menu(activePage)
	// MENU NAVIGATION
	ul.menu#menu
		each item in navigation
			if item.pageNumber != activePage
				li.menu__item.btn
					a.btn-link(href=item.pageLink) #{item.pageContent}
			else
				li.menu__item.btn
					a.btn-link.btn-link__active-page(href=item.pageLink) #{item.pageContent}
//- Menu link
mixin menu-link(mod, clear)
	ul(class='list'+mod+clear)
		each item in navigation
			li(class='list__item'+mod+'-item')
				a.link(href=item.pageLink) #{item.pageContent}

//- List of contacts
mixin contacts(mod,modlist)
	ul.list(class=mod)
		each obj in contacts
			if obj.href
				li.list__item(class=modlist)
					a.link(href=obj.href)= obj.content
			else
				li.list__item(class=modlist)= obj.content

//- Footer
mixin footer(mod)
	if mod == ''
		footer.footer.footer__bg
			div.conteiner
				ol.footer__main.clearfix
					li.footer__parts.footer__parts--desc
						h4 Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
					li.footer__parts.footer__parts--links
						+menu-link(' footer__menu', ' clearfix')
						+social('')
					li.footer__parts.footer__parts--cont
						+contacts
			include ../_parts/_signfooter.pug
	else
		footer(class="footer footer__" + mod)
			div.conteiner
				include ../_parts/_signfooter.pug

//- Reviews
mixin reviews()
	ol.list.reviews.clearfix
		each rev in reviews
			li.list__item.left.reviews__item
				div.circle-photo.circle-photo--reviews
					img.circle-photo__img(src=`./assets/img/content/${rev.photo}` alt=rev.person)
				p.reviews__words= rev.words
				div.person
					h3.person__name= rev.person
					h4.person__desc= rev.desc